@model VehicleShowroom.Management.Application.Models.DTOs.PurchaseOrderDetailDTO

@{
    ViewData["Title"] = "Purchase Order Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <style>
        input {
            box-shadow: none !important;
        }
    </style>
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa-solid fa-car"></i>
                </div>
                <div>
                    Purchase Order Detail
                    <div class="page-title-subheading">
                        View and edit purchase order details
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card" id="divInfomation">
                <div class="card-body">
                    <form asp-action="SavePurchaseOrder" method="post">
                        <div class="position-relative row form-group">
                            <label for="PurchaseOrderId" class="col-md-3 text-md-right col-form-label">Purchase Order ID</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control"  readonly>
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="SupplierName" class="col-md-3 text-md-right col-form-label">Supplier Name</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="SupplierName">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="SupplierPhone" class="col-md-3 text-md-right col-form-label">Supplier Phone</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="SupplierPhone">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="SupplierEmail" class="col-md-3 text-md-right col-form-label">Supplier Email</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="email" class="form-control" asp-for="SupplierEmail">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="OrderDate" class="col-md-3 text-md-right col-form-label">Order Date</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="date" class="form-control" asp-for="OrderDate">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="TotalAmount" class="col-md-3 text-md-right col-form-label">Total Amount</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="number" step="0.01" class="form-control" asp-for="TotalAmount">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="VehicleId" class="col-md-3 text-md-right col-form-label">Vehicle</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="VehicleName" readonly>
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="CreateBy" class="col-md-3 text-md-right col-form-label">Created By</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="CreateBy" readonly>
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="CreateDate" class="col-md-3 text-md-right col-form-label">Created Date</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="CreateDate" readonly>
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="UpdateBy" class="col-md-3 text-md-right col-form-label">Updated By</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="text" class="form-control" asp-for="UpdateBy">
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="UpdateDate" class="col-md-3 text-md-right col-form-label">Updated Date</label>
                            <div class="col-md-9 col-xl-8">
                                <input type="date" class="form-control" asp-for="UpdateDate">
                            </div>
                        </div>

                        <div class="position-relative row form-group mb-1">
                            <div class="col-md-9 col-xl-8 offset-md-2">
                                <a asp-area="Admin" asp-controller="PurchaseOrder" asp-action="Index" class="border-0 btn btn-outline-danger mr-1">
                                    <span class="btn-icon-wrapper pr-1 opacity-8">
                                        <i class="fa fa-times fa-w-20"></i>
                                    </span>
                                    <span>Cancel</span>
                                </a>

                                <button type="submit" class="btn-shadow btn-hover-shine btn btn-success">
                                    <span class="btn-icon-wrapper pr-2 opacity-8">
                                        <i class="fa fa-save fa-w-20"></i>
                                    </span>
                                    <span>Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
